{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-section mt-4">
        <table id="process_input_table" class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 15%">Name</th>
                <th scope="col" style="width: 10%">Dauer</th>
                <th scope="col" style="width: 20%">Vorgänger</th>
                <th scope="col" style="width: 20%">Mindestabstand</th>
                <th scope="col" style="width: 20%">Maximalabstand</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn bg-white w-100 darkdark" onclick="add_table_row()">
            Weiteren Prozess hinzufügen
        </button>
    </div>

    <button id="start_calculation_button" type="button" class="btn btn-dark bg-darkdark w-100 lightlight">
        Berechnung beginnen
    </button>

    <div id="results"></div>

    <script src={% static "add_table_row.js" %}></script>
    <script src={% static "start_calculation.js" %}></script>
{% endblock %}