:root {
    --darkdark: #2E3440;
    --dark: #4C566A;
    --light: #D8DEE9;
    --lightlight: #ECEFF4;
}

.content-section {
    background: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bg-darkdark {
    background: var(--darkdark);
}

.bg-dark {
    background: var(--dark);
}

.bg-light {
    background: var(--light);
}

.bg-lightlight {
    background: var(--lightlight);
}

.bg-white {
    background: white;
}

.darkdark {
    color: var(--darkdark);
}

.dark {
    color: var(--dark);
}

.light {
    color: var(--light);
}

.lightlight {
    color: var(--lightlight);
}

body {
    background: var(--lightlight);
}

th, td {
    color: var(--dark)
}

.min-width {
    min-width: 720px !important;
    width: auto !important;
    width: 720px;
}

.tooltip-inner {
  background-color: var(--darkdark) !important; /* Set box color to red */
  color: white !important; /* Set text color to black */
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--darkdark); /* Set arrow color to red */
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--darkdark); /* Set arrow color to red */
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--darkdark); /* Set arrow color to red */
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--darkdark); /* Set arrow color to red */
}